# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
venv/
env/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Documentation
*.md
README.md

# Large files (KHÔNG copy vào image, dùng volumes thay thế)
data/
checkpoints/
frontend/
scripts/
analysist/
*.ipynb
