version: '3.8'

services:
  # 1. PROCESS-DATA: Chạy 1 lần rồi tắt (Ephemeral Container)
  preprocess-data:
    container_name: preprocess-data
    build: .
    volumes:
      - ./:/app
    # Chỉ chạy script xử lý data rồi tự thoát
    command: python src/process_data.py
    # Restart: no -> Để docker không cố khởi động lại nó sau khi nó đã làm xong việc
    restart: "no"

  # 2. Training
  models-training:
    container_name: models-training
    build: .
    volumes:
      - ./:/app
    command: >
      bash -c "
      # echo '⏳ Đang train Model Rules...' &&
      # python models/model_1_rules/train.py &&
      echo '⏳ Đang train Model ALS...' &&
      python models/model_2_als/train.py &&
      echo '✅ Training hoàn tất!
      "
    # QUAN TRỌNG: Đợi preprocess-data chạy XONG mới bắt đầu training được
    depends_on:
      preprocess-data:
        condition: service_completed_successfully

  # 3. APP: Web Giao diện
  app:
    container_name: web-app
    build: .
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    # Streamlit sẽ tự động reload khi file model thay đổi, nên cứ chạy song song
    command: streamlit run src/ui/main.py --server.port=8501 --server.address=0.0.0.0
    depends_on:
      - models-training # Đợi models-training chạy (để đảm bảo môi trường ổn định)