services:
  # 1. Pre-processing Data
  preprocess-data:
    container_name: preprocess-data
    build: .
    volumes:
      - ./:/app
    # Chỉ chạy script xử lý data rồi tự thoát
    command: >
      bash -c "
      echo '⏳ Đang xử lý dữ liệu...' &&
      python src/data/preprocess.py &&
      echo '✅ Processing hoàn tất!'
      "

  # 2. Training Models
  models-training:
    container_name: models-training
    build: .
    volumes:
      - ./:/app
    command: >
      bash -c "
      echo '⏳ Train Model 1 (Rules)...' &&
      python models/model_1_rules/train.py --train &&
      echo '✅ Model 1 xong!' &&

      echo '⏳ Train Model 2 (ALS)...' &&
      python models/model_2_als/train.py &&
      echo '✅ Model 2 xong!'
      "
    depends_on:
      preprocess-data:
        condition: service_completed_successfully

  # 4. APP: Web API
  api:
    container_name: web-api
    build:
      context: .
    working_dir: /app
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
    restart: unless-stopped
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      models-training:
        condition: service_completed_successfully
    networks:
      - movie-network

  # Frontend: React + Vite
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
    environment:
      - VITE_API_URL=http://web-api:8000
    depends_on:
      - api
    networks:
      - movie-network

networks:
  movie-network:
    driver: bridge
